<main class="bg-light">
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card p-4 shadow-sm w-100">
            <div class="card-corpo">
                <h3 class="titulo text-center mb-4">Cadastro</h3>
                <form [formGroup]="formularioCadastro" class="row justify-content-center">
                    <mat-form-field class="col-12">
                        <mat-label>Nome</mat-label>
                        <input matInput formControlName="vc_nome" placeholder="Digite seu nome" required>
                        <mat-error *ngIf="exibirErro('vc_nome', 'required')">O nome é obrigatório.</mat-error>
                    </mat-form-field>
                    <button type="submit" class="btn btn-primary btn-block w-50 m-3"
                        (click)="enviarFormulario()" [disabled]="formularioCadastro.invalid">Entrar</button>
                    <mat-error *ngIf="mensagemErro" class="text-center">Falha ao realizar cadastro do jogo!</mat-error>
                    <span class="text-center"><a routerLink="/jogos/listar">Voltar</a></span>
                </form>
            </div>
        </div>
    </div>
</main>